:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  /* COLOR 1 */
  background-color: #0f172a;
  /* background-color: #0D47A1; */
  /* background-color: #424242; */
}

mat-drawer-container {
  height: 100%;
}
